<a href="https://colab.research.google.com/github/PoonamJiah/Module-1/blob/main/class_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Calculating the area of a circle - 1

In [ ]:
r = 6
pi = 3.142
a = pi * radius * radius
print(a)

113.112

#Calculating the area of a circle - 2

In [ ]:
r = 6
print(3.142 * radius * radius)

113.112

#alculating the area of a circle - 3

In [ ]:
radius = 6
area = (3.142 * radius **2)
print('The radius of the circle is:',radius,'units')
print("The area of the circle is:",area,"sq units" )

The radius of the circle is: 6 units
The area of the circle is: 113.112 sq units

In [ ]:
a = 'I am eager to learn Python'
b = 'I am happy to be here'
print(a +'\n'+ b)
print(a,b)

I am eager to learn Python
I am happy to be here
I am eager to learn Python I am happy to be here

In [ ]:
n1=345
n2 = 456
print("The addition of two numbers is:",n1+n2)

The addition of two numbers is: 801

In [ ]:
a = """This is
my first program with
strings in python"""
print(a)

This is
my first program with
strings in python

In [ ]:
a = "Life is beautiful"
print(a[0])
print(a[1])
print(a[:9])
print(a[1:9])
print(a[2:10])

for i in a:
  print(i)

L
i
Life is b
ife is b
fe is be
L
i
f
e

i
s

b
e
a
u
t
i
f
u
l

In [ ]:
a = "Life is beautiful"
print('Life' in a)
print('is' not in a)

True
False

In [ ]:
a = "Life is beautiful"
b = "and so is death"
print(len(a))
print(a.upper()) #capitalize
print(a.lower())
print(a.replace("L","w"))
print(a.split())
print(a,b)
print(a + b)
print(a+" "+b)
print(a+"\n"+b)


a = "11am"
b = "Lecture will be conducted at:"+a
print(b)

17
LIFE IS BEAUTIFUL
life is beautiful
wife is beautiful
['Life', 'is', 'beautiful']
Life is beautiful and so is death
Life is beautifuland so is death
Life is beautiful and so is death
Life is beautiful
and so is death
Lecture will be conducted at:11am

In [ ]:
a = "Hello, How are you?"
print(a.endswith("?"))

a = "health.jpg"
print(a.endswith(".jpg"))

a = "Hello, how are you?"
x = a.find("are") #in
print(x)

True
True
11