In [ ]:
a = "life is beautiful"
print(a.capitalize())
print(a.upper())
print(a.casefold())
print(a.count("i"))
print(a.center(20))

Life is beautiful
LIFE IS BEAUTIFUL
life is beautiful
3
 life is beautiful

#Encoding

In [ ]:
e = a.encode()
print(e)

e1 = a.encode("utf-8")
print(e1)

e1 = a.encode("utf-16")
print(e1)

e2 = a.encode("ascii")
print(e2)

a1 = "Python £ is fun £"
e3 = a1.encode("ascii",errors = "replace")
print(e3)
e4 = a1.encode("ascii",errors = "xmlcharrefreplace")
print(e4)

b'life is beautiful'
b'life is beautiful'
b'\xff\xfel\x00i\x00f\x00e\x00 \x00i\x00s\x00 \x00b\x00e\x00a\x00u\x00t\x00i\x00f\x00u\x00l\x00'
b'life is beautiful'
b'Python ? is fun ?'
b'Python &#163; is fun &#163;'

#ends with

In [ ]:
a = "pic.jpg"
print(a.endswith(".jpg"))

True

#expand tabs

In [ ]:
a = "Sr.no\tName\tRoll_no"
print(a)
print(a.expandtabs(22))

Sr.no	Name	Roll_no
Sr.no                 Name                  Roll_no

# find

In [ ]:
a = "Hello how are you"
x = a.find("are")
print(x)

10

#Format #Place holders

In [ ]:
a = "Hi"
b = "2nd"

y = """{}How have you all been?
Welcome to {} class""".format(a,a)
print(y)

z= """{}How have you all been?
Welcome to {} class""".format("Hi","2nd")
print(z)

HiHow have you all been?
Welcome to Hi class
HiHow have you all been?
Welcome to 2nd class

#List

In [ ]:
x =['Pen',225,'Paris',999,True]
print(x)
print(x[1])         #indexed
print(type(x[1]))   #type
print(len(x))       #len
print(x[-1])        #Last element

x = [2]* 5
print(x)

['Pen', 225, 'Paris', 999, True]
225
<class 'int'>
5
True
[2, 2, 2, 2, 2]

#add/append

In [ ]:
x = [2,4,6,8]
x.append(10)
print(x)

x.insert(4,12)
print(x)

x.extend([14,16,18])
print(x)
2, 4, 6, 8, 12, 10, 14, 16, 18]
x[5]=11
print(x)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 12, 10]
[2, 4, 6, 8, 12, 10, 14, 16, 18]
[2, 4, 6, 8, 12, 11, 14, 16, 18]

#Removing

In [ ]:
x = [2, 4, 6, 8, 12, 10, 14, 16, 18,10]
x.remove(10)        #remove the 1st occurence
print(x)

y = x.pop()         #remove the last element
print(y)
print(x)

del x[2]            #remove the element at index 2
print(x)

del x[2:5]          #remove the elements at index 2,3,4
print(x)

x.clear()           #remove all elements
print(x)

[2, 4, 6, 8, 12, 14, 16, 18, 10]
10
[2, 4, 6, 8, 12, 14, 16, 18]
[2, 4, 8, 12, 14, 16, 18]
[2, 4, 16, 18]
[]

#Loop

In [ ]:
x  = ['Pen',25, True]
for i in x:           #Loops in a list
  print(i)

y = [['Pen',25, True],[1,45,'Hi',"true", 777]]  #Nested list
print(y)

Pen
25
True
[['Pen', 25, True], [1, 45, 'Hi', 'true', 777]]