#Union

In [ ]:
x = {1,2, "Pen", False}
y = {"Rome","Paris"}
z = {"Italy", 50}
print(x.union(y,z))
print(x | y | z)

{False, 1, 2, 50, 'Italy', 'Pen', 'Rome', 'Paris'}
{False, 1, 2, 50, 'Italy', 'Pen', 'Rome', 'Paris'}

#Intersection

In [ ]:
x = {1,2, "Pen", False}
y = {"Rome","Paris",2,999, False}
z = {"Italy",2, 50,999}
print(x.intersection(y))
print(y.intersection(z))
print(x & y & z)

{False, 2}
{2, 999}
{2}

#Difference

In [ ]:
x = {1,2, "Pen", False}
y = {"Rome","Paris",2,999, False}
print(x.difference(y))
print(x-y)

{1, 'Pen'}
{1, 'Pen'}

#symmetric difference

In [ ]:
x = {1,2, "Pen", False}
y = {"Rome","Paris",2,999, False}
print(x.symmetric_difference(y))
print(x ^ y)

{1, 'Pen', 999, 'Rome', 'Paris'}
{1, 'Pen', 999, 'Rome', 'Paris'}

#symmetric difference update

In [ ]:
x = {1,2, "Pen", False}
y = {"Rome","Paris",2,999, False}
print(x.symmetric_difference_update(y))
print(x)

None
{1, 'Pen', 999, 'Rome', 'Paris'}

#Dictionary

In [ ]:
capitals = {"Country":"Italy","Capital":"Rome","Famous":'Milan'}
print(capitals)
print(capitals["Country"])
print(capitals.get("Famous"))
print(capitals.keys())
print(capitals.values())
print(capitals.items())

{'Country': 'Italy', 'Capital': 'Rome', 'Famous': 'Milan'}
Italy
Milan
dict_keys(['Country', 'Capital', 'Famous'])
dict_values(['Italy', 'Rome', 'Milan'])
dict_items([('Country', 'Italy'), ('Capital', 'Rome'), ('Famous', 'Milan')])

In [ ]:
i = ["prod_id", "prod_name", "prod_price", "prod_qty"]
I = dict.fromkeys(i,{})
print(I)

{'prod_id': {}, 'prod_name': {}, 'prod_price': {}, 'prod_qty': {}}

#example

In [ ]:
stud = {"roll no":1,"NAme": "ABC", "Marks":89,"Subject":{"Physics","Maths"}}
print(stud)
print(type(stud))

stud = dict(rollno=1,Name="XYZ",Marks=90,Subject={"Physics","Maths"})     #constructor
print(stud)

print(stud.get("rollno"))
stud.update({"Result":"Pass"})
stud["Percentage"]=96
print(stud)

print(stud.pop("Result"))
print(stud.popitem())
#print(stud)

del stud["Marks"]
print(stud)

#copy
stud1 = stud.copy()
print(stud1)

{'roll no': 1, 'NAme': 'ABC', 'Marks': 89, 'Subject': {'Maths', 'Physics'}}
<class 'dict'>
{'rollno': 1, 'Name': 'XYZ', 'Marks': 90, 'Subject': {'Maths', 'Physics'}}
1
{'rollno': 1, 'Name': 'XYZ', 'Marks': 90, 'Subject': {'Maths', 'Physics'}, 'Result': 'Pass', 'Percentage': 96}
Pass
('Percentage', 96)
{'rollno': 1, 'Name': 'XYZ', 'Subject': {'Maths', 'Physics'}}
{'rollno': 1, 'Name': 'XYZ', 'Subject': {'Maths', 'Physics'}}

#Loop

In [ ]:
stud = {"roll no":1,"NAme": "ABC", "Marks":89,"Subject":{"Physics","Maths"}}
for i in stud:
  print(i,stud[i])

roll no 1
NAme ABC
Marks 89
Subject {'Maths', 'Physics'}

In [ ]:
stud = [ {"roll no":1,"NAme": "ABC", "Marks":89,"Subject":{"Physics","Maths"}},
         {"roll no":2,"NAme": "PQR", "Marks":76,"Subject":{"Physics","Maths"}}
    ]
for s in stud:
  for key,value in s.items():
    print(key,value)

roll no 1
NAme ABC
Marks 89
Subject {'Maths', 'Physics'}
roll no 2
NAme PQR
Marks 76
Subject {'Maths', 'Physics'}