In [ ]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

df = pd.DataFrame(mydataset)

print(df)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [ ]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)  #A Pandas Series is like a column in a table.

                      #It is a one-dimensional array holding data of any type.

print(myvar)
print(myvar[0])

0    1
1    7
2    2
dtype: int64
1

In [ ]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])     #name your own labels

print(myvar)
print(myvar["y"])

x    1
y    7
z    2
dtype: int64
7

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:  DataFrame is a 2 dimensional data structure
df = pd.DataFrame(data)

print(df)
print(df.loc[0])
print(df.loc[[0, 1]])  #When using [], the result is a Pandas DataFrame

   calories  duration
0       420        50
1       380        40
2       390        45
calories    420
duration     50
Name: 0, dtype: int64
   calories  duration
0       420        50
1       380        40

#Printing data frame

In [ ]:
import pandas as pd
df = pd.read_csv('/content/data.csv')   #mount drive
#print(df.to_string())           #print the entire DataFrame
#print(df.head(10))
#print(df.tail(10))
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  170 non-null    int64
 1   Pulse     170 non-null    object
 2   Maxpulse  170 non-null    int64
 3   Calories  165 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 5.4+ KB
None

#Max row size

In [ ]:
import pandas as pd

df = pd.read_csv('/content/data.csv')

print(df)     #only return the first 5 rows, and the last 5 rows
#print(pd.options.display.max_rows)  #if the DF > 60 rows, print 1st and last 5 rows
#pd.options.display.max_rows = 9999
#print(df)

     Duration Pulse  Maxpulse  Calories
0          60   110       450     409.1
1          60   117       145     479.0
2          60   103       135     340.0
3          45   109       175     282.4
4          45   117       148     406.0
..        ...   ...       ...       ...
165        60   105       140     290.8
166        60   110       145     300.0
167        60   115       145     310.2
168        75   120       150     320.4
169        75   125       150     330.4

[170 rows x 4 columns]

# Empty Data: "Date" in row 22, and "Calories" in row 18 and 28

In [ ]:
import pandas as pd
df = pd.read_csv('/content/data.csv')

 #"Date" in row 22, and "Calories" in row 18 and 28
#new_df = df.dropna()
#print(new_df.to_string())    #row 17, 27 dropped
#df.dropna(inplace = True)     #row 17, 27 dropped
#print(df.to_string())
#df.fillna(130, inplace = True)
#print(df.to_string())
#df["Calories"].fillna(130, inplace = True)
#print(df.to_string())
x = df["Calories"].mean()   #mean() median() and mode()
df["Calories"].fillna(x, inplace = True)
print(df.to_string())

#Wrong Format of data

In [ ]:
#row 9 and 15 in Pulse column
import pandas as pd

df = pd.read_csv('/content/data.csv')
df['Pulse'] = pd.to_numeric(df['Pulse'], errors='coerce')
df['Pulse'].fillna(df['Pulse'].mean(), inplace=True)

#print(df.to_string())
#print(df)

<ipython-input-9-40479ef103ec>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Pulse'].fillna(df['Pulse'].mean(), inplace=True)

#Wrong data

In [ ]:
#Duration (30-60)
import pandas as pd

df = pd.read_csv('/content/data.csv')
df.loc[7, 'Duration'] = 45
print(df.loc[6:10])

for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.loc[x, "Duration"] = 120
print(df.loc[109])
print(df.info)

for x in df.index:
  if df.loc[x, "Maxpulse"] > 400:
    df.drop(x, inplace = True)
#print(df)
print(df.info)

    Duration Pulse  Maxpulse  Calories
6         60   102       127     300.0
7         45   110       136     374.0
8         45     a       134     253.3
9         30   109       133     195.1
10        60    98       124     269.0
Duration       90
Pulse          90
Maxpulse      120
Calories    500.3
Name: 109, dtype: object
<bound method DataFrame.info of      Duration Pulse  Maxpulse  Calories
0          60   110       450     409.1
1          60   117       145     479.0
2          60   103       135     340.0
3          45   109       175     282.4
4          45   117       148     406.0
..        ...   ...       ...       ...
165        60   105       140     290.8
166        60   110       145     300.0
167        60   115       145     310.2
168        75   120       150     320.4
169        75   125       150     330.4

[170 rows x 4 columns]>
<bound method DataFrame.info of      Duration Pulse  Maxpulse  Calories
1          60   117       145     479.0
2          60   103       135     340.0
3          45   109       175     282.4
4          45   117       148     406.0
5          60   102       127     300.0
..        ...   ...       ...       ...
165        60   105       140     290.8
166        60   110       145     300.0
167        60   115       145     310.2
168        75   120       150     320.4
169        75   125       150     330.4

[169 rows x 4 columns]>

#Duplicate data

In [ ]:
import pandas as pd

df = pd.read_csv('/content/data.csv')
print(df.duplicated())
print(df.info)

df.drop_duplicates(inplace = True)
print(df.info)

# Now your Google Drive is accessible like a folder
df.to_csv('/content/drive/MyDrive/Datasets/modified.csv', index=False)
print("Data entered")

0      False
1      False
2      False
3      False
4      False
       ...
165    False
166    False
167    False
168    False
169    False
Length: 170, dtype: bool
<bound method DataFrame.info of      Duration Pulse  Maxpulse  Calories
0          60   110       450     409.1
1          60   117       145     479.0
2          60   103       135     340.0
3          45   109       175     282.4
4          45   117       148     406.0
..        ...   ...       ...       ...
165        60   105       140     290.8
166        60   110       145     300.0
167        60   115       145     310.2
168        75   120       150     320.4
169        75   125       150     330.4

[170 rows x 4 columns]>
<bound method DataFrame.info of      Duration Pulse  Maxpulse  Calories
0          60   110       450     409.1
1          60   117       145     479.0
2          60   103       135     340.0
3          45   109       175     282.4
4          45   117       148     406.0
..        ...   ...       ...       ...
165        60   105       140     290.8
166        60   110       145     300.0
167        60   115       145     310.2
168        75   120       150     320.4
169        75   125       150     330.4

[162 rows x 4 columns]>
Data entered

#Saving the data

In [2]:
df.to_csv('data.csv', index=False)  # Overwrites the original file
# OR
df.to_csv('data_modified.csv', index=False)  # Saves to a new file

df.to_csv('/Users/yourname/Documents/output/modified_data.csv', index=False)
df.to_csv('C:/Users/yourname/Desktop/myfolder/data.csv', index=False)

#You can dynamically build the path using os.path or pathlib:
import os

folder = '/Users/yourname/Documents/output'
filename = 'modified_data.csv'
full_path = os.path.join(folder, filename)

df.to_csv(full_path, index=False)

#saving to drive
from google.colab import drive
drive.mount('/content/drive')  # Mount Google Drive

# Now your Google Drive is accessible like a folder
df.to_csv('/content/drive/My Drive/folder_name/modified_data.csv', index=False)

NameError: name 'df' is not defined